.featured-post {
  widows: 100%;
  
  .image {
    position: relative;

    .i {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -33px 0 0 -33px;
    }
    
    img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }

  .description {
    padding: 15px;
    @include clearfix;
  }
}

.posts-list {
  .post {
    @include clearfix;

    .post-image {
      float: left;
    }

    .post-description {
      margin-left: 340px;
      height: 187px;
      display: table;

      .post-va {
        display: table-cell;
        vertical-align: middle;
      }
    }

    & + .post {
      margin-top: 40px;
    }

    @include max-screen(920px) {
      .post-image img {
        width: 200px;
      }

      .post-description {
        margin-left: 220px;
        height: auto;
      }
    }

    @include max-screen(480px) {
      .post-image {
        float: none;
        margin-bottom: 10px;

        img {
          width: 100%;
        }
      }

      .post-description {
        margin-left: 0;
      } 
    }
  }
}