.featured-post {
  widows: 100%;
  
  .image {
    position: relative;

    .i {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -33px 0 0 -33px;
    }
    
    img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }

  .description {
    padding: 8px 15px;
    @include clearfix;
  }

  .category {
    float: left;

    p + p {
      margin-top: 0;
    }
  }

  .title {
    float: right;
  }
}

.posts-list {
  .post {
    padding: 11px 0;
    @include clearfix;

    .post-image {
      float: left;
      height: 230px;
      overflow: hidden;
    }

    .post-description {
      margin-left: 355px;
      height: 230px;
      display: table;

      .post-va {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .post-date {
      display: block;
      margin: 5px 0;
    }

    .post-read-more {
      margin-top: 9px;
      display: block;
    }

    &:first-child {
      padding-top: 0;
    }

    @include max-screen(920px) {
      .post-image img {
        width: 200px;
      }

      .post-description {
        margin-left: 220px;
        height: auto;
      }
    }

    @include max-screen(480px) {
      .post-image {
        float: none;
        margin-bottom: 10px;

        img {
          width: 100%;
        }
      }

      .post-description {
        margin-left: 0;
      } 
    }
  }
}