<div class="row">
  <% @banners.each do |banner| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag banner.photo.url %>
          <div class="caption">
            <div class="btn-group btn-group-xs">
              <%= link_to banner, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default btn-lg" do %>
                  <span class="glyphicon glyphicon-trash"></span>
              <% end %>

              <!-- <= link_to edit_photo_path(photo), class: "btn btn-default btn-lg" do %>
                   <span class="glyphicon glyphicon-pencil"></span>
               < end %>
               <= link_to photo, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default btn-lg" do %>
                   <span class="glyphicon glyphicon-trash"></span>
               < end %>-->
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

