<div class="clearfix admin-head">
  <div class="pull-left">
    <h1>Secciones de acerca de Comex Urbano</h1>
  </div>
</div>

<% @abouts.each do |about| %>
  <h3><%= about.name %></h3>
  <%= truncate(strip_tags(about.description.html_safe), length: 200, omission: '... (continued)') %>
  <br>
  <div class="btn-group btn-group-xs">
    <%= link_to edit_about_path(about), class: "btn btn-default btn-lg" do %>
      <span class="glyphicon glyphicon-pencil"></span> Editar sección
    <% end %>
    <%= link_to about, method: :delete, data: {confirm: '¿Esta seguro de borrar?'}, class: "btn btn-default btn-lg" do %>
      <span class="glyphicon glyphicon-trash"></span> Borrar sección
    <% end %>
  </div>
  <br><br><br>
<% end %>
