
.wrapper {
  width: 1100px;
  margin: 0 auto;
  @include clearfix;

  @include max-screen(1170px) {
    width: 960px;
  }

  @include max-screen(960px) {
    width: 85%;
  }
}

.header {
  padding: 40px 0;

  .brand {
    float: left;
  }

  .header-right-content {
    float: right;
    @include clearfix;
  }

  .navigation {
    float: left;
    margin: 8px 10px 0 0;

    ul li {
      float: left;
      padding: 0px 15px;

      a {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }

  .social-links {
    margin-top: 4px;
    float: left;

    ul li {
      float: left;
      padding: 0px 10px;
    }
  }
}

.search {
  margin: 20px 0;
  @include clearfix;

  .search-form {
    float: right;

    input[type="text"] {
      padding: 5px 10px;
      width: 200px;
    }
  }
}

.footer {
  margin-top: 60px;

  .footer-navigation {
    @include clearfix;

    ul li {
      padding-bottom: 8px;
      display: block;
      width: 25%;
      float: left;

      a {
        padding-bottom: 10px;
      }
    }   
  }

  .footer-links-rights {
    margin-top: 40px;
  }

  .footer-links {
    margin-bottom: 15px;
    
    a {
      margin: 0px 10px;
    }
  }

  .footer-brand {
    margin-top: 25px;
    padding: 30px 0;
  }
}

.filters {
  margin: 40px 0 60px 0;
  padding-bottom: 10px;
  @include clearfix;

  .page-navigation {
    ul li {
      float: left;
      padding-right: 25px;

      a {
        padding-bottom: 10px;
      }
    }
  }

  .years-timeline {
    float: right;

    ul li {
      float: left;
      padding-left: 25px;

      a {
        padding-bottom: 10px;
      }
    }
  }
}

.title-page {
  margin-bottom: 40px;
  width: 60%;
}

.ytube-subscribe {
  margin-bottom: 25px;
}

.side-lastest-videos {
  .label-videos {
    padding: 5px;
    margin-bottom: 10px;
  }

  .video-box + .video-box {
    margin-top: 30px;
  }
}

.video-box {
  .video-image {
    position: relative;

    .i {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -33px 0 0 -33px;
    }

    img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }

  .video-description {
    padding: 10px;
  }
}

.ads-list {
  .ad {
    margin-top: 30px;

    img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }
}