
* {
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  letter-spacing: 2px;
}

body {
  font-family: $font-regular;
}

h1, h2, h3, h4, h5, h6 {
  color: $black-color;
  font-family: $font-black;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
  line-height: 25px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

a {
  color: #0079bc;
  text-decoration: none !important;
}

p {
  color: $text-color;
  text-align: justify;
  font-family: $font-medium;
  @include text-size-regular;
}

label.error {
  color: red;
  font-family: $font-regular;
  font-size: 11px;
}

.header {
  background: $black-color;

  .mobile-menu {
    border: 1px solid shade($white-color, 70%);
    border-radius: $radius;
  }
}

.site-links {
  background: #333333;
  background: rgba(0,0,0,.77);

  .navigation {
    .nav-list > li {
      list-style: none;

      a {
        color: $white-color;
        font-family: $font-black;
        text-transform: uppercase;
        font-size: 12px;

        &.active {
          font-family: $font-black;
          color: #c2c2c2;
        }
      }

      .nav-dropdown {

        ul {
          list-style: none;
          background: #000;
          background: rgba(0,0,0,.9);
          border: 1px solid $white-color;
        }

        a {
          text-transform: none;
          color: $white-color;
          font-size: 9px;
          font-family: $font-bold;

          &:hover {
            background: #636363
          }
        }
      }
    }
  }

  .social-links ul {
    list-style: none;
  }

  .search-form {
    input[type="text"] {
      background: $white-color;
      border: 0;
      background-color: $white-color;
      font-size: 8px;
      color: #333;
      font-weight: bold;

      @include placeholder {
        color: #333;
      }
    }
  }

  @include max-screen(580px) {
    .navigation {
      background: $black-color;

      ul li {
        border-top: 1px solid shade($white-color, 70%);

        a {
          color: $white-color;
        }
      }
    }
  }
}

.footer {
  p {
    text-align: center;
  }

  .footer-navigation {
    ul {
      list-style: none;

      li {
        border-bottom: 3px solid $black-color;
      }

      .footer-nav-item {
        text-align: center;     

        a {
          color: $black-color;
          font-family: $font-bold;
          text-transform: uppercase;
          @include text-size-x-small;

          &.active {
            font-family: $font-black;
            border-bottom: 10px solid $black-color;
          } 
        }
      }
    }
  }

  .footer-links-rights {
    text-align: center;
  }

  .footer-rights {
    p {
      font-size: 10px;
    }
  }

  @include max-screen(690px) {
    .footer-navigation {
      ul li {
        border: 0;

        a.active {
          border-width: 3px !important;
        }
      }
    } 
  }
}

.comex-footer-brand {
  background: $black-color;
  text-align: center;
}

.filters {
  border-bottom: 2px solid $black-color;

  .page-navigation {
    ul li {
      list-style: none;

      a {
        font-size: 14px;
        text-transform: uppercase;
        color: $gray-color;
        font-family: $font-bold;

        &.active {
          color: $black-color;
          font-family: $font-black;
          border-bottom: 10px solid $black-color;
        }
      }
    }
  }

  .years-timeline {
    ul li {
      list-style: none;

      a {
        color: $gray-color;
        font-size: 14px;
        font-family: $font-bold;

        &.active {
          color: $black-color;
          font-family: $font-black;
          border-bottom: 10px solid $black-color;
        }
      }
    }
  }

  @include max-screen(690px) {
    border: 0;

    .page-navigation ul li a.active {
      border-width: 3px;
    }

    .years-timeline ul li a.active {
      border-width: 3px;
    }
  }
}

.title-page {

  h1, .title {
    font-size: 25px;
    font-family: $font-black;
    border-bottom: 5px solid $black-color;
    text-transform: uppercase;
  }

  .query-search {
    text-transform: none;
    font-size: 20px;
    font-family: $font-bold;
    color: $secondary-color;
  }
}

.ytube-subscribe {
  text-align: right;
}

.side-lastest-videos {
  .label-videos {
    background-color: $black-color;

    h6 {
      color: $white-color;
      font-size: 12px;
    }
  }
}

.video-box {
  .video-image {
    
  }
  .video-description {
    background-color: $black-color;
    line-height: 15px;

    .video-title {
      color: #dbdbdb;
      font-size: 18px;
      font-family: $font-bold;
    }

    p {
      color: #fff;
      font-family: $font-regular;
    }

    a {
      color: #dbdbdb;
      font-family: $font-black;
      line-height: 14px;
      font-size: 12px;
      line-height: 15px;
    }
  }
}


.post-show-header-wrap {
  .post-show-video {
    background: $black-color;

    .video {

    }

    .post-desc {
      h1 {
        color: #dbdbdb;
        border: 5px solid $white-color;
        font-size: 22px;
        line-height: 26px;
      }

      p {
        color: $white-color;
        font-size: 12px;
        font-family: $font-bold;
      }
    }
  }
}

.post-main-content {
  p {
    @include text-size-large;
  }
}

.post-meta {
  .tags a {
    color: $blue-color;
  }
}

.section-heading {
  .section-heading-description {
    background: #000;
    background: rgba(0,0,0,.7);

    .section-heading-description-inner {
      p {
        color: $white-color;
        @include text-size-large; 
      }
    }
  }

}

.error-page {
  text-align: center;

  p, h1 {
    text-align: center;
    color: $white-color;
  }

  a:hover {
    color: $white-color;
  }
}

.slider-wrap {
  .next a {
    background-image: url('arrow-right.png');
  }

  .prev a {
    background-image: url('arrow-left.png');
  }
}

.rqrd {
  color: red;
  font-size: 15px;
}

.image-gallery {

  .image-cover {
    background: $black-color;
    background: rgba(0,0,0,.65);

    h5 {
      color: $white-color;
      text-transform: uppercase;
      font-size: 16px;
      border-bottom: 2px solid $white-color;
      font-family: $font-black;
    }
  }
}

.post-share-links {

  .sharer-box {
    text-align: center;
  }

  .count {
    color: #444444;
    font-size: 15px;
    font-family: $font-bold;
  }

  .fb-sharer {
    background: url('fb-sharer.png');
  }

  .tw-sharer {
    background: url('tw-sharer.png');
  }

  .big-sharer {
    background: url('global-sharer.png');
  }
}