
* {
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  letter-spacing: 1px;
}

body {
  font-family: $font-regular;
}

h1, h2, h3, h4, h5, h6 {
  color: $black-color;
  font-family: $font-black;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
  line-height: 25px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

a {
  color: #0079bc;
  text-decoration: none !important;
}

p {
  color: $text-color;
  text-align: justify;
  font-family: $font-medium;
  @include text-size-regular;
}

strong {
  font-family: $font-bold;
  font-weight: normal;
}

label {
  font-weight: normal;
  font-family: $font-medium;

  &.error {
    color: red;
    font-family: $font-regular;
    font-size: 11px;
  }
}

.header {
  background: $white-color;

  .mobile-menu {
    border: 1px solid shade($white-color, 70%);
    border-radius: $radius;
  }

  .navigation {
    .nav-list > li {
      list-style: none;

      a {
        color: $black-color;
        font-family: $font-medium;
        font-size: 15px;

        &.active {
          color: #c2c2c2;
        }
      }

      .nav-dropdown {
        ul {
          list-style: none;
          background: #78797b;
          border: 1px solid $white-color;
          text-align: center;
        }

        a {
          text-transform: none;
          color: $white-color;
          font-size: 9px;
          font-family: $font-bold;

          &:hover {
            background: #acadae;
          }
        }
      }
    }

    @include max-screen(580px) {
      background: $white-color;
      
      .nav-list > li {
        border-top: 1px solid #fff;

        .nav-dropdown {
          ul {
            text-align: left;
            border-width: 1px 0 1px 0;

            li a {
              background: #999;
              font-size: 16px !important;
            }
          }
        }
      }
    }
  }
}

.site-links {
  background: $white-color;

  .social-links ul {
    list-style: none;
  }

  .search-form {
    input[type="text"] {
      background: #58595b;
      border: 0;
      font-size: 13px;
      color: $white-color;
      font-family: $font-bold;

      @include placeholder {
        color: $white-color;
      }
    }
  }

  @include max-screen(580px) {
    .navigation {
      background: $black-color;

      ul li {
        border-top: 1px solid shade($white-color, 70%);

        a {
          text-transform: capitalize;
          color: $white-color;
        }
      }
    }
  }
}

.footer {
  p {
    text-align: center;
  }

  .footer-navigation {
    ul {
      list-style: none;

      li {
        border-bottom: 3px solid #58595b;
      }

      .footer-nav-item {
        text-align: center;     

        a {
          color: #58595b;
          font-family: $font-medium;
          font-size: 14px;

          &.active {
            color: $black-color;
            border-bottom: 10px solid #58595b;
          } 
        }
      }
    }
  }

  .footer-links-rights {
    text-align: center;
  }

  .footer-rights {
    p {
      font-size: 10px;
    }
  }

  @include max-screen(690px) {
    .footer-navigation {
      ul li {
        border: 0;

        a.active {
          border-width: 3px !important;
        }
      }
    } 
  }
}

.comex-footer-brand {
  background: $black-color;
  text-align: center;
}

.filters {
  border-bottom: 2px solid #58595b;

  .page-navigation {
    ul li {
      list-style: none;

      a {
        font-size: 14px;
        #text-transform: capitalize;
        color: #58595b;
        font-family: $font-medium;

        &.active {
          color: $black-color;
          border-bottom: 10px solid #58595b;
        }
      }
    }
  }

  .years-timeline {
    ul li {
      list-style: none;

      a {
        color: #58595b;
        font-size: 14px;
        font-family: $font-medium;

        &.active {
          color: $black-color;
          border-bottom: 10px solid #58595b;
        }
      }
    }
  }

  @include max-screen(690px) {
    border: 0;

    .page-navigation ul li a.active {
      border-width: 3px;
    }

    .years-timeline ul li a.active {
      border-width: 3px;
    }
  }
}

.title-page {

  h1, .title {
    font-size: 26px;
    font-family: $font-black;
    border-bottom: 5px solid #58595b;
    //text-transform: uppercase;
  }

  .query-search {
    text-transform: none;
    font-size: 20px;
    font-family: $font-bold;
    color: $secondary-color;
  }
}

.ytube-subscribe {
  .ytube-btn, .fb-btn {
    border: 1px solid #c4c4c4;
    text-align: center;
  }
}

.side-lastest-videos {
  .label-videos {
    background-color: #58595b;

    h6 {
      color: $white-color;
      font-size: 12px;
      font-family: $font-bold;
    }
  }
}

.video-box {
  .video-image {
    
  }
  .video-description {
    background-color: #e6e6e6;
    line-height: 15px;

    .video-title {
      color: $black-color;
      font-size: 20px;
      font-family: $font-medium;
    }

    p {
      color: #484848;
      font-family: $font-regular-italic;
    }

    a {
      color: #dbdbdb;
      font-family: $font-black;
      line-height: 14px;
      font-size: 12px;
      line-height: 15px;
    }
  }
}


.post-show-header-wrap {
  .post-show-video {
    background: #e5e5e5;

    .video {

    }

    .post-desc {
      h1 {
        color: $black-color;
        font-family: $font-medium;
        font-size: 22px;
        line-height: 26px;
      }

      p {
        color: #58595b;
        font-size: 13px;
        font-family: $font-regular-italic;
      }
    }
  }
}

.post-show-content {
  border-top: 2px solid #a7a7a7;

  .post-show-title {
    font-size: 18px;
    font-family: $font-bold;
  }

  .post-show-date {
    font-size: 14px;
    color: #767676;
    font-family: $font-regular-italic;
  }

  p {
    @include text-size-regular;
  }
}

.post-meta {
  .tags a {
    color: $blue-color;
  }
}

.section-heading {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.error-page {
  text-align: center;

  p, h1 {
    text-align: center;
    color: $white-color;
  }

  a:hover {
    color: $white-color;
  }
}

.slider-wrap {

  .slider-pager {
    background: $black-color;
    text-align: center;

    .bx-pager-item > a {
      background: url('slider-dot-active.png');
      @include hide-text;

      &.active {
        background: url('slider-dot.png');
      }
    }
  }
}

.rqrd {
  color: red;
  font-size: 15px;
}

.image-gallery {

  .image-cover {
    background: $black-color;
    background: rgba(0,0,0,.65);

    h5 {
      color: $white-color;
      font-size: 16px;
      border-bottom: 2px solid $white-color;
      font-family: $font-bold;
    }
  }
}

.post-share-links {

  .sharer-box {
    text-align: center;
  }

  .count {
    color: #444444;
    font-size: 15px;
    font-family: $font-bold;
  }

  .fb-sharer {
    background: url('fb-sharer.png');
  }

  .tw-sharer {
    background: url('tw-sharer.png');
  }

  .big-sharer {
    background: url('global-sharer.png');
  }
}

.page {
  .post-show-title {
    font-size: 26px;
  }
}

.legal {
  p, ul {
    @include text-size-small;
  }

  strong {
    font-size: 14px;
    color: $black-color;
  }
}

.similar-publications {
  .similar-publications-box {
    .description {
      font-size: 13px;
      font-family: $font-medium;
      color: #9c9c9c;
      line-height: 21px;
    }
  }
}

.tags-cloud {
  line-height: 1.6em;

  h4 {
    font-size: 22px;
    font-weight: normal;
    font-family: $font-medium;
    border-bottom: 1px solid #adadad;
  }

  a {
    color: #505050;
    font-family: $font-medium;
    text-transform: capitalize;

    &:hover {
      color: $black-color;
    }
  }

  .s { font-size: 15px; }
  .m { font-size: 22px; }
  .l { font-size: 36px; }
}