$font-regular: 'comex_lightlight', sans-serif;
$font-medium: 'comex_mediummedium', sans-serif;
$font-medium-italic: 'comexmedium_italic', sans-serif;
$font-bold: 'comex_boldbold', sans-serif;
$font-black: 'comex_blackblack', sans-serif;

$radius: 3px;

$white-color: #fff;
$black-color: #000;
$gray-color: #6f6f6f;
$blue-color: #0e8fcf;
$text-color: #505050;