<h1>vISTA DE gALERIA</h1>

<!--<= form_tag photos_path, :method => 'get', :id => 'photos_search' do %>
    <p>
      <= text_field_tag :search, params[:search] %>
      <= submit_tag "Search", :name => nil %>
    </p>
< end %>-->

<div id="photos"><%= render 'photos' %></div>

<!--<= link_to 'New Photo', new_photo_path %>-->
