<ul class="nav pull-right">
  <% @categories.each do |category| %>
          <li><%= link_to category.name, '/' + category.link %></li>
  <% end %>
  <% if user_signed_in? %>
      <li> <%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
  <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
  <% end %>
</ul>